@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
/* About 區塊樣式*/
#About .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 2;
}

.main-pic {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-pic img {
    width: 500px;
    /* max-width: 100%; */
    height: auto;
    box-shadow: -15px 15px 0px rgb(88, 143, 244);
    border-radius: 30px;
}

.description {
    width: 50%;
    padding: 30px;
}
h2 {
    padding: 20px 0;
    font-size: 2rem;
    text-shadow: 3px 5px 3px #ababab;
}
.description p {
    line-height: 24px;
    font-size: 1rem;
}
.education {
    margin-top: 30px;
}
.education-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3{
    font-family: "DM Serif Display", serif;
    display: block;
    margin-bottom: 10px;
}

.education-list li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.profile,
.education,
.skills {
    margin-top: 20px;
}
/* 先設定list、li與skill name樣式 */
.skills-list li {
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: baseline;
}
.skill-name {
    font-weight: bold;
    display: inline-block;
    width: 100px;
    margin-right: 30px;
    font-size: 20px;
}
/* 設定bar的外層樣式 */
.skill-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    width: 250px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
/* 設定bar的內層樣式 */
.skill-level {
    background-color: #4CAF50;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

/* 設定各項目的顏色與動畫 */

.skill-html {
    animation: progress-html 2s ease-in-out;
    background: linear-gradient(to right, #f89e59, #FF4500);
    width: 90%;
}

.skill-css {
    animation: progress-css 2s ease-in-out;
    background: linear-gradient(to right, #ff1ee5, #c075f5);
    width: 80%;
}

.skill-js {
    animation: progress-js 2s ease-in-out;
    background: linear-gradient(to right, #FFD700, #FFA500);
    width: 70%;
}

.skill-php {
    animation: progress-php 2s ease-in-out;
    background: linear-gradient(to right, #07ce5d, #dbea38);
    width: 60%;
}

.skill-mysql {
    animation: progress-mysql 2s ease-in-out;
    background: linear-gradient(to right, #3b228b, #00BFFF);
    width: 60%;
}


/* skill Animation */

@keyframes progress-html {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes progress-css {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes progress-js {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@keyframes progress-php {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes progress-mysql {
    from {
        width: 0%;
    }
    to {
        width: 65%;
    }
}









@media screen and (max-width: 767px) {
    #About .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .description{
        padding: 30px 0px;
    }
    .main-pic {
        width: 100%;
        height: auto;
    }
    .description {
        width: 95%;
        margin: auto;
    }
    .skill-name{
        width: 120px;
        margin-right: 5px;
    }


}


