@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Banner {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
}
.slogan {
    position: absolute;
    z-index: 3;
}

.slogan h2 {
    font-size: 3rem;
    text-shadow: none;
}
.circle1{
    width: 100px;
    height: 100px;
    background-color: rgb(207, 171, 241);
    z-index: -1;
    position: absolute;
    left: 3%;
    border-radius: 50%;
    /* animation: fade-in 2s infinite alternate; */
    animation: fade-in 2s forwards, swing 3s infinite alternate;
}
.circle2{
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid pink;
    animation: move2 10s ease-in infinite;
    z-index: -2;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: -35%;
    left: -30%;
    border-left: 150px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #8796f8;
    position: relative;
    transform: rotate(25deg);
    animation: spin 10s ease infinite;
    z-index: -3;
}

.shape {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 400px;
    left: 280px;
    float: left;
    background-color: coral;
    animation: squareToCircle 5s 1s infinite alternate;
    /* animation: spin 10s ease-in infinite; */
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes swing {
    from {
        transform: translateX(0); /* 從原點開始 */
    }
    to {
        transform: translateX(50px); /* 往右跑 50px */
    }
}
@keyframes move2 {
    0% {
        margin-top: 20%;
        margin-left: 40%
    }
    50% {
        margin-top: 10%;
        margin-left: 40%
    }
    70% {
        margin-top: 15%;
        margin-left: 40%
    }
    100% {
        margin-top: 20%;
        margin-left: 40%;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(170deg);
    }
}

@keyframes squareToCircle {
    0% {
        border-radius: 0 0 0 0;
        background: coral;
        transform: rotate(0deg);
    }
    25% {
        border-radius: 50% 0 0 0;
        background: darksalmon;
        transform: rotate(45deg);
    }
    50% {
        border-radius: 50% 50% 0 0;
        background: indianred;
        transform: rotate(90deg);
    }
    75% {
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        transform: rotate(135deg);
    }
    100% {
        border-radius: 50% 50% 50% 50%;
        background: darksalmon;
        transform: rotate(180deg);
    }
}


@media screen and (max-width: 767px) {    
    .circle2 {
        position: absolute;
        margin-left: 40%;
        margin-top: 20%;
        width: 150px;
        height: 150px;
    }
    
    .shape {
        width: 100px;
        height: 100px;

    }
    .slogan{
        margin: auto 20px;
    }
    .slogan h2{
        font-size: 2rem;
    }

    .triangle {
    display: none;
}


}