@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form表單{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin-top: 80px;
}

/*漸層背景*/
.containerContact-Us{
    /* background-color: bisque; */
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 80px; 
}

label {
    display: block;
    margin-bottom: 5px; /* 增加一點間距比較美觀 */
}
.contact-text{
    letter-spacing: 1px;
    line-height: 2;
    /* background-color: white; */
}
.contact-text > h2 {
    text-shadow:
        0 0 7px rgba(41, 25, 187, 0.9),
        0 0 50px rgba(190, 82, 248, 0.3);
        /* background-color: salmon; */
}

.address{
    margin-top: 20px;
}

.address > p{
    color: white;
    /* background-color: #8aa7ec; */
    line-height: 1.5;
}
.address > p > i{
    color: white;
    margin-right: 10px;
}
.col{
    width: 48%;
}
.form{
    width: 52%;
    background-color: #B74F6F;
    padding: 30px;
    border-radius: 15px;
    font-family: "DM Serif Display", serif;
}
.form input[type="text"],.form textarea {
    /*RWD設定*/
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 15px;

    /*樣式設定*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
} 
.form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #ADBDFF; /* 設一個顯眼的顏色 */
    color: white;
    cursor: pointer;
}

/*手機板*/
        @media screen and (max-width: 767px) {      

        .containerContact-Us{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 50px;
        }
        .col, .form {
        width: 100%;       /* 確保內部的文字區和表單區也都是滿寬 */
    }
    .col{
        margin-bottom: 10px;
    }
    }
    